<!DOCTYPE html>
<html>
<head>
    <title>API Request Button</title>
</head>
<body>
    <button onclick="redirectToInsertPage()">Insert API Info</button>
    <br> <!-- New line -->
    <button onclick="redirectToRequestPage()">Go to Request Page</button>
    <script>
        function redirectToInsertPage() {
            window.location.href = '/insert_api_info'; // Redirect to the insert_api_info.html page
        }

        function redirectToRequestPage() {
            window.location.href = '/request'; // Redirect to the request.html page
        }
    </script>
</body>
</html>
